body {
  background: #f7f8f3;
  margin: 0;
  padding: 0;
  color: #6A7F9A;
  font-family: 'DM Sans', 'Quattrocento Sans', sans-serif;
}

/* Nav Bar beginning*/

header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  margin; 0px;
  width: 48px;
  height: auto;
  /* cursor: pointer; */
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  pointer-events: auto;
  width: 100%;
  padding: 3vw 4vw;
}

@media (max-width: 1025) {
  .nav {
    display: flex;
    justify-content: space-between;
  }
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-left: auto;
  margin-left: 0;
}

header a {
  color: #bd5d2d;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  padding: 10px;
}

header a:hover {
  color: #eab66a;
  transition: all 0.3s ease 0s;
}

li {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

.santosResume {
  border: 5px solid #bd5d2d;
  border-radius: 10px;
  padding: 6px 12px;
  margin-left: 10px;
  color: #f7f8f3;
  background: #bd5d2d;
}

.santosResume:hover {
  color: #f7f8f3;
  background: #eab66a;
  border-color: #eab66a;
  transition: all 0.3s ease 0s;
}

/*HAMBURGER SMALLER SCREEN SIZE*/
@media (max-width: 1025px) {
  .button_container {
    position: absolute;
    /* top: 5%; */
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
  }
  .button_container:hover {
    opacity: 0.7;
  }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  .button_container span {
    background: #eab66a;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 11px;
  }
  .button_container span:nth-of-type(3) {
    top: 22px;
  }

  .overlay {
    position: fixed;
    background: #eab66a;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
  }
  .overlay.open {
    opacity: 0.9;
    visibility: visible;
    height: 100%;
  }
  .overlay.open li {
    animation: fadeInRight 0.5s ease forwards;
    animation-delay: 0.35s;
  }
  .overlay.open li:nth-of-type(2) {
    animation-delay: 0.4s;
  }
  .overlay.open li:nth-of-type(3) {
    animation-delay: 0.45s;
  }
  .overlay.open li:nth-of-type(4) {
    animation-delay: 0.5s;
  }
  .overlay div {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: "Varela Round", serif;
    font-weight: 400;
    text-align: center;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: column;
  }
  .overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }
  .overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    font-family: granville;
    text-transform: uppercase;
    font-size: 32px;
  }
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }
  .overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    transition: 0.35s;
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

}
/*end of nav bar style*/



/*MAIN PAGE*/
.mainPage {

}

@media (max-width: 768px) {
  .mainPage {
    margin: 0 75px;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .mainPage {
    margin: 0;
    padding: 0;
    margin: 0;
  }
}
/*end of MAIN PAGE*/



/* the start of home or main page*/
.home {
  display: flex;
  flex-direction: row;
	padding: 0 17vw;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.home > img {
  width: 250px;
  height: auto;
  padding-right: 35px;
  padding-left: 8vw;
  margin-bottom: 7vw;
}


#name {
    width: 600px;
}

.nameIntro {
  margin-right: 150px;
}

.introduction > h2 {
  font-weight: 400;
  font-size: 2em;
}

.introduction > p {
  font-size: 1.5em;
  margin-bottom: 8vw;
}


@media (max-width: 1025px) {
  .home > img {
    width: 150px;
    padding-right: 30px;
  }

  #name {
    width: 400px;
  }
  .introduction > h2 {
    font-size: 1.5em;

  }
  .introduction > p {
    font-size: 1em;
  }

  .about-intro {
    margin: 0 4vw;
  }


}

@media (max-width: 768px) {
  .home > img {
    width: 100px;
    padding-right: 20px;
  }
  #name {
    width: 300px;
  }
  .introduction > h2 {
    font-size: 18px;
    margin: 0;
  }
  .introduction > p {
    font-size: 13px;
    margin-top: 1vw;
  }
  h1 {
    margin-bottom: 1vw;
  }


  .about-me {
    display: inline;
    padding: 0;
  }
  .nameIntro {
    margin-right: 15px;
  }
  .home > img {
    width: 100px;
    padding-left: 18px;
  }
}


@media (max-width: 500px) {
  /* .home > img {
    padding-left: 1vw;
  } */
  #name {
    width: 300px;
  }
  .introduction > h2 {
    font-size: 1.0em;
  }
  .introduction > p {
    font-size: 0.75em;
  }
}




/*the end of home*/


/*start of ABOUT*/
.about-me {
  align-items: center;
  display: flex;
  margin: 7vw 0;
  margin-bottom: 5vw;
  padding: 0 17vw;
}

.about-intro {
  margin-left: 25px;
  margin-right: 50px;
}


.about-me > img {
  width: 350px;
  height: auto;
  padding-left: 0;
  padding-right: 20px;
}

@media (max-width: 1400px) {
  .about-me {
    padding: 0 12vw;
  }
  .about-intro {
    padding: 0;
  }
}

@media (max-width: 1020px) {
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .about-me > img {
    padding-top: 3vw;
    padding-right: 0;
    padding-bottom: 3vw;
  }

@media (max-width: 768px) {
  .about-me {
    padding: 0;
  }
  .about-intro {
    padding: 0;
    margin: 0 4vw;
  }
}

  /* @media (max-width: 768px) {
    .about-me {
    }
    .about-me > img {

    }
    .programs {
      padding: 0px 25px;
      text-align: center;
    } */

}

/*end of ABOUT*/




/*PROGRAMS Begins*/
.programs {
  padding: 0px 50px;
  text-align: center;

}
.icons {
  width: 60px;
  height: auto;
  padding: 0px 10px;
}

@media (max-width: 1020px) {
  .programs {
    padding: 0px 25px;
    text-align: center;
  }

}
/*end of PROGRAMS*/



/*EXPERIENCE*/
.experience {
  background-color: #bfcdcd;
  max-width: 600px;
  padding: 2vw 3vw;
  margin: auto;
  margin-top: 5vw;
  margin-bottom: 7vw;
}

hr {
  margin: 0 4vw;
  background-color: #6a7f9a;
}
/* EXPERIENCE END */



/*start of PROJECTS*/
#projects {
  padding-left: 8vw;
  padding-right: 8vw;
}

.projects {
  text-align: center;
  padding: 4vw 8vw;
}

.projects > h2 {
  font-size: 40px;
}

.projects > p {
 font-size: 20px;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.project-left {
  align-items: center;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-bottom: 4vw;
}

.project-left a img{
  transition: 0.3s ease;
  width: 30vw;
  border-radius: 10px;
}

.project-right {
  align-items: center;
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 77px;
}

.project-right a img{
  transition: 0.3s ease;
  width: 30vw;
  border-radius: 10px;
}

.caption-left {
  padding-left: 7vw;
}
.caption-right {
  padding-right: 135px;
}

.caption-left p, .caption-right p {
  font-size: 22px
}

.project-left a, .project-right a {
  text-decoration: none;
}

#portfolio .project-title {
  font-size: 40px;
  color: #6A7F9A;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 400;
}


@media (max-width: 1020px) {
  #projects {
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .caption-left {
    padding-left: 30px;
  }
  .caption-right {
    padding-right: 30px;
  }
  .caption-left p, .caption-right p {
    font-size: 18px;
  }
  #portfolio .project-title {
    font-size: 30px;
  }
  .project-left a img, .project-right a img {
    width: 35vw;
  }
  .experience {
    margin-bottom: 10vw;
  }
}

@media (max-width: 768px) {
  .projects {
    text-align: center;
    padding: 0;
    margin-bottom: 5vw;
  }
  .projects > h2 {
    font-size: 35px;
    margin-top: 7vw;
  }
  .projects > p {
    font-size: 18px;
  }
  .project-left, .project-right {
      align-items: center;
      width: 80%;
      display: flex;
      flex-direction: column;
      margin-bottom: 4vw;
  }
  .project-left a img, .project-right a img {
    width: 80vw;
  }
  .caption-left {
    padding-left: 0
  }
  #portfolio .project-title {
      margin-top: 3vw;
      margin-bottom: 2vw
  }

@media (max-width: 600px) {
  #projects {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}



}
/* PROGRAMS ENDs */



/* CONTACT PAGE */
.contact-section {
  padding: 100px 0;
  text-align: center;
}

.inner-width {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}

.contact.intro {
  display: flex;
  flex-direction: column;
}

.contact-form h2 {
  text-align: left;
}

.name, .email, .message {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  color: black;
  padding: 10px 6px;
  font-size; 14px;
  margin-bottom: 40px;
}

.name {
  float: left;
  width: 260px;
}

.email {
  float: right;
  width: 260px;
}

.message {
  min-width: 100%;
  max-width: 100%;
  justify-content:

}

.contact-form button {
  background: none;
  color: #eab66a;
  border: 1px solid #bd5d2d;
  padding: 12px 40px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.3s linear;
  cursor: pointer;
}

.contact-form button:hover {
  background: lightpink;
  color: black;
}

@media screen and (max-width: 768px) {
  .name, .email, .message {
    width: 100%;
    float: none;
  }
  .contact-section {
    padding: 7vw 0;
  }
}


/* SOCIAL MEDIA ICONS */
.center {
  margin: 0 auto;

}
#social-test {
  vertical-align: middle;
  text-align: center;
  font-size: 23px;
}

#social-test .social {
  padding-left: 0px;
}

#social-test a {
  color: #6a7f9a;
  list-style-type: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  /* border: 1px solid #6a7f9a; */
  cursor: pointer;
  /* margin-left: 10px; */
  /* margin-bottom: 20px; */
  transition: ease 0.3s;
  text-decoration: none;
}
#social-test a:hover {
  color: #6a7f9a;
  /* border: 1px solid #6a7f9a; */
}
.social:hover > a {
  opacity: 0.5;
}
.social:hover > a:hover {
  opacity: 1;
}




blockquote {
  text-align: center;
  padding-top: 40px;
}
@media screen and (max-width: 768px) {
  blockquote {
    text-align: center;
    padding-top: 40px;
  }
}





footer {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
